<section id="about" class="section section--content">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">О нас</h3>
			<hr class="section-dash"/>
			<div class="section-subtitle">
			<span style="font-weight: 400">Pro<strong>АКПП</strong></span> предлагает вам все виды ремонта и&nbsp;обслуживания автоматических (АКПП и&nbsp;CVT) коробок передач в&nbsp;<nobr>Санкт-Петербурге</nobr>. В&nbsp;нашем арсенале имеется всё для предоставления высокого качества обслуживания по&nbsp;приемлемой цене.
			</div>
		</header>
	</div>
</section>
