<section id="about" class="section section--content">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">О нас</h3>
			<hr class="section-dash"/>
			<div class="section-subtitle">
			ProАКПП предлагает Вам все виды ремонта и обслуживания автоматических (АКПП и CVT) коробок передач в городе Санкт-Петербурге. В нашем арсенале имеется всё для предоставления высокого качества обслуживания по приемлемой цене.
			</div>
		</header>
	</div>
</section>
