<section id="articles" class="section section--articles section--gray">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">Полезно знать</h3>
			<hr class="section-dash"/>
			<div class="section-subtitle" data-lang="en">Знания, которые вам помогут снизить расходы и продлить срок службы вашего автомобиля</div>
		</header>

		<div class="section-artivles">
			<article class="section-article">
				<a class="section-article-link" href="/">
					<img class="section-article-image" src="/"/>
				</a>
				<h4 class="section-article-title"></h4>
				<div class="section-article-body">

				</div>
			</article>
		</div>

		<footer class="section-footer">
			<button class="button">Показать еще</button>
		</footer>
	</div>
</section>
