<section id="articles" class="section section--articles section--gray">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">Полезно знать</h3>
			<hr class="section-dash"/>
			<div class="section-subtitle" data-lang="en">Знания, которые вам помогут снизить расходы и продлить срок службы вашего автомобиля</div>
		</header>

		<div class="section-articles">
			{% for post in include.posts %}<article class="section-article" itemscope itemtype="http://schema.org/BlogPosting">
				<a class="section-article-link" href="{{ post.url | prepend: site.baseurl }}">
					{% if post.image %}
					<figure class="section-article-figure">
						<img class="section-article-image" src="{{ post.image }}" alt="{{ post.title }}"/>
					</figure>
					{% endif %}
					<h4 class="section-article-title">{{ post.title }}</h4>
				</a>
				<time class="section-article-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
					{{ post.date | date: "%-d" }}
					{% assign m = post.date | date: "%-m" | minus: 1 %}
					{{ site.months.ru[m] }}
					{{ post.date | date: "%Y" }}
				</time>
				<div class="section-article-excerpt">
					{{ post.excerpt | strip_html | truncatewords: 30 }}
				</div>
			</article>{% endfor %}
		</div>

		<footer class="section-footer">
			<button class="button">Показать еще</button>
		</footer>
	</div>
</section>
