<section class="section section--features" id="why-us">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en" data-aos="fade-up">Почему имеено мы?</h3>
			<hr class="section-dash" data-aos="fade-up" data-aos-delay="100"/>
			<div class="section-subtitle" data-lang="en" data-aos="fade-up" data-aos-delay="200">Вам не обязательно обладать техническими знаниями в области устройства и принципах работы автоматических трансмиссий для эксплуатации Вашего автомобиля!</div>
		</header>

		<div class="section-body">
			<ul class="section-features section-features--left">
				<li class="section-feature" data-aos="zoom-in-right">
				<i class="fa fa-users" aria-hidden="true"></i>
				<h4 class="section-feature-title">Команда</h4>
				<p>У нас работает команда профессионалов в сфере ремонта АКПП, CVT и мы знаем своё дело.</p>
				</li>

				<li class="section-feature" data-aos="zoom-in-right">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<h4 class="section-feature-title">Запчасти</h4>
				<p>Мы закупаем только качественные запчасти у проверенных поставщиков, специализирующихся на автоматических и вариаторных трансмиссиях.</p>
				</li>
			</ul><img class="section-features-image" src="assets/pavel-small.jpg"/><ul class="section-features section-features--right">
				<li class="section-feature" data-aos="zoom-in-left" data-aos-delay="150">
				<i class="fa fa-tachometer" aria-hidden="true"></i>
				<h4 class="section-feature-title">Оборудование</h4>
				<p>У нас имеется всё необходимое оборудование для диагностики и ремонта.</p>
				</li>

				<li class="section-feature" data-aos="zoom-in-left" data-aos-delay="150">
				<i class="fa fa-rocket" aria-hidden="true"></i>
				<h4 class="section-feature-title">Сервис</h4>
				<p>Мы работаем без выходных и возьмемся за ремонт Вашего авто незамедлительно.</p>
				</li>
			</ul>
		</div>
	</div>
</section>
