<section id="gallery" class="section--gallery">
<ul class="section-body section-gallery">
<li class="section-gallery-item">
<img class="section-gallery-item-image" src="assets/transmission-1.jpg"/>
</li>
<li class="section-gallery-item">
<img class="section-gallery-item-image" src="assets/transmission-2.jpg"/>
</li>
<li class="section-gallery-item">
<img class="section-gallery-item-image" src="assets/transmission-3.jpg"/>
</li>
<li class="section-gallery-item">
<img class="section-gallery-item-image" src="assets/transmission-4.jpg"/>
</li>
</ul>
</section>
