<header class="site-header">
	<div class="centered">
		<a class="site-logo" href="{{ site.baseurl }}/"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;PRO<strong>AKPP</strong></a>

		<!--
		<nav class="site-lang">
			{% if lang != 'en' %}<a href="./">English</a>{% endif %}
			{% if lang != 'fr' %}<a href="./fr">Français</a>{% endif %}
			{% if lang != 'ru' %}<a href="./ru">Русский</a>{% endif %}
		</nav>
		-->

		<nav class="site-nav">
			<a class="site-nav-link" href="{% if layout.type %}/{% endif %}#services">Услуги</a>
			<a class="site-nav-link" href="{% if layout.type %}/{% endif %}#contacts">Контакты</a>
		</nav>
	</div>
</header>
