<section id="intro" class="section section--intro section--inverse">
<div class="centered">
	<header class="section-header section-intro-header">
		<i class="fa fa-cogs section-header-icon" aria-hidden="true"></i>
		<h1 class="section-title section-intro-title">Ремонт АКПП и CVT</h1>
		<div class="section-subtitle section-intro-subtitle">Ремонт автоматических и вариаторных трансмиссий в Санкт-Петербурге</div>
	</header>
	<div class="section-intro-body">
		<p class="section-intro-phones">
		<a href="tel:9168633" class="button button--outline"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;916-86-33</a>
		<span class="button-junction section-intro-junction">или</span>
		<a href="tel:+79992166876" class="button button--outline"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+7&thinsp;(999)&thinsp;216-68-76</a>
		</p>
	</div>
</div>
</section>
