body {
	font-family: Roboto, sans-serif;
	line-height: 1.4;
	font-weight: 200;
	color: gray;
}

* {
	box-sizing: border-box;
}

a {

}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 1.2rem;
	font-weight: 200;
	color: black;
}
h1 {

}
h2 {

}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {

}
h6 {

}

.button {
	border-radius: 27.5px;
	box-sizing: border-box;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 15px 30px;
	font-family: "Open Sans",sans-serif;
	font-weight: 700;
	color: rgb(0, 164, 220);
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgb(0, 164, 220);
	cursor: pointer;
	text-decoration: none;
}

.button--white {
	background: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	color: rgb(0, 164, 220);
}
.button--white:hover, .button--white:active {
	background: rgb(0, 164, 220);
	border-color: rgb(0, 164, 220);
	color: rgb(255, 255, 255);
}

.button-junction {
	padding: 1rem;
	display: inline-block;
}


.centered {
	max-width: 940px;
	margin: auto;
}





.section {
	padding: 3rem 0;
}

.section-header {
	text-align: center;
	max-width: 40rem;
	margin: auto;
}
.section-header-icon {
	font-size: 2.4rem;
}
.section-title {
	font-size: 2.4rem;
	font-weight: 200;
	margin-bottom: 1.2rem;
}
.section-subtitle {
	color: gray;
	font-weight: 100;
	font-size: 1.1rem;
}

.section-dash {
	width: 3rem;
	height: 3px;
	background: rgb(240,240,240);
	border: none;
	margin: 1rem auto 2rem;
}

.section-body {
	text-align: center;
}





.section--services {
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.section-service {
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 1rem;
}

.section-service > i {
	font-size: 2.8rem;
	line-height: 6.4rem;
	display: inline-block;
	color: #00A4DC;
}
.section-service p {
	color: gray;
}
.section-service h4 {
	color: rgb(0, 164, 220);
}




.section--gallery {
	width: 100%;
	height: 16rem;
	padding: 0;
}
.section-gallery {
	padding: 0;
	margin: 0;
	height: 100%;
	list-style: none;
	position: relative;
	white-space: nowrap;
}
.section-gallery-item {
	float: left;
	width: 25%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.section-gallery-item-image {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}



.section--inverse {
    color: white;
}
.section--inverse .section-title {
	color: white;
}
.section--inverse .section-subtitle {
	color: white;
}


.section--cta {
    background-image: linear-gradient(to right, rgb(0, 164, 220) 0%, rgb(85, 77, 153) 100%);
}



.site-footer {
	padding: 2rem 0;
	color: white;
	background: #131314;
	text-align: center;
}

.site-footer a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.25);
}

.site-footer a:hover {
	border-bottom: 1px solid rgba(255,255,255,1);
}
