body {
	font-family: Roboto, sans-serif;
	line-height: 1.4;
	font-weight: 200;
	color: gray;
}

body, .smooth-container { scroll-behavior: smooth }

* {
	box-sizing: border-box;
}

a {

}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 1.2rem;
	font-weight: 200;
	color: black;
}
h1 {

}
h2 {

}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {

}
h6 {

}

.button {
	border-radius: 27.5px;
	box-sizing: border-box;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 15px 30px;
	font-family: "Open Sans",sans-serif;
	font-weight: 700;
	color: rgb(0, 164, 220);
	font-size: .875rem;
	line-height: 1.6;
	letter-spacing: .15ex;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgb(0, 164, 220);
	cursor: pointer;
	text-decoration: none;
}
.button--outline {
	border-color: rgb(255, 255, 255);
	color: white;
}
.button--white {
	background: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	color: rgb(0, 164, 220);
}
.button:hover, .button:active {
	background: rgb(0, 164, 220);
	border-color: rgb(0, 164, 220);
	color: rgb(255, 255, 255);
}

.button-junction {
	padding: 1rem .75rem;
	display: inline-block;
}


.centered {
	max-width: 960px;
	margin: auto;
}



.site-header {
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}
.site-header .centered {
	position: relative;
	height: 6rem;
}
.site-logo {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 200;
	line-height: 6rem;
	outline: none;
}
.site-logo strong {
	font-weight: 900;
}
.site-nav {
	position: absolute;
	right: 0;
	color: white;
	line-height: 6rem;
}
.site-nav-link {
	color: white;
	font-weight: 400;
	margin-left: 1.6rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .85rem;
	letter-spacing: .15ex;
}
.site-nav-link {
	border-bottom: 1px solid rgba(255,255,255,.15);
}
.site-nav-link:hover, .site-nav-link:active {
	border-bottom: 1px solid rgba(255,255,255,1);
}




.section {
	padding: 3.2rem 0;
	clear: both;
}
.section--gray {
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.section-header {
	text-align: center;
	max-width: 50rem;
	margin: auto;
}
.section-header .section-header-icon {
	font-size: 2.4rem;
	margin-bottom: 1.2rem;
	opacity: .8;
}
.section-title {
	font-size: 2.4rem;
	font-weight: 200;
	margin-bottom: 1.2rem;
}
.section-subtitle {
	color: gray;
	font-weight: 200;
	font-size: 1.13rem;
	margin-bottom: 1.6rem;
}

.section-dash {
	width: 3rem;
	height: 3px;
	background: rgb(240,240,240);
	border: none;
	margin: 1rem auto 2rem;
}

.section-body {
	text-align: center;
}

.section-footer {
	text-align: center;
}


.section--intro {
	background-image: url('./main.jpg');
	background-size: cover;
	background-position: center center;
	height: 82vh;
	min-height: 32rem;
	position: relative;
}

.section-intro-body {
	margin-top: 10rem;
}
.section-intro-title {
	font-size: 2.6rem;
	margin-bottom: 2rem;
}
.section-intro-body .button {
	font-size: 1.1rem;
	line-height: 2.2rem;
	border-radius: 4rem;
}

.section-intro-junction {
	padding: 1.4rem;
	display: inline-block;
}




.section-service {
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 1rem;
}

.section-service > i {
	font-size: 2.8rem;
	line-height: 6.4rem;
	display: inline-block;
	color: #00A4DC;
}
.section-service p {
	color: gray;
}
.section-service h4 {
	color: rgb(0, 164, 220);
}




.section--gallery {
	width: 100%;
	height: 16rem;
	padding: 0;
}
.section-gallery {
}
.section-gallery-item {
	overflow: hidden;
	width: auto!important;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.section-gallery-item-image {
	display: block;
	height: 16rem;
}


.section--inverse {
    color: white;
}
.section--inverse .section-title {
	color: white;
}
.section--inverse .section-subtitle {
	color: white;
}

.section--features .section-body {
}
.section-features {
	list-style: none;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.section-features-image {
	display: inline-block;
	vertical-align: bottom;
	max-width: 30%;
}
.section-features--left {
	text-align: right;
	width: 35%;
	padding-right: 3rem;
}
.section-features--right {
	text-align: left;
	width: 35%;
	padding-left: 3rem;
}
.section-feature > i {
	font-size: 2.8rem;
	line-height: 6.4rem;
	color: #554D99;
}
.section-feature-title {
	color: #554D99;
	font-size: 1.3rem;
	font-weight: 200;
}



.section--cta {
	padding-top: 6rem;
	padding-bottom: 6rem;
    background-image: linear-gradient(to right, rgb(0, 164, 220) 0%, rgb(85, 77, 153) 100%);
}

.section--info {
    background-image: linear-gradient(to right, #237794 0%, #8b87ac 100%);
    text-align: center;
    font-size: 1.1rem;
}


.section-testimonials {
	margin-top: 2.4rem;
}
.section-testimonial {
	text-align: center;
	max-width: 60%;
	margin: 0 2rem;
}
.section-testimonial-text {
	font-size: 1.13rem;
}
.section-testimonial-author {
	text-align: left;
	display: inline-block;
	margin-top: 1.6rem;
}
.section-testimonial-link {
	text-decoration: none;
}
.section-testimonial-image {
	height: 4rem;
	overflow: hidden;
	border-radius: 4rem;
	float: left;
	margin-right: 1rem;
}
.section-testimonial-name {
	font-weight: 900;
	font-size: .82rem;
	color: #554D99;
	text-transform: uppercase;
	letter-spacing: .15ex;
}
.section-testimonial-bio {
	font-size: .88rem;
	color: gray;
}

.section-testimonial {
	opacity: .15;
}
.section-testimonial.swiper-slide-active {
	opacity: 1;
}
.section-testimonials {
	height: 13rem;
}
.section--testimonials .swiper-container {
	overflow: visible;
}
.section--testimonials {
	overflow: hidden;
}



.section--contacts {
	padding: 0;
	height: 82vh;
	min-height: 32rem;
	position: relative;
}
.section-map {
	width: 100%;
	height: 100%;
}
.section-map-title {
	font-weight: 200;
	margin: .5rem 0;
}
.section-map-title strong {
	font-weight: 900;
}
.section-map-subtitle {
	font-weight: 900;
	font-size: 1rem;
	margin: .75rem 0 0;
}
.section-map-address {
	font-style: normal;
}
.section-map-content a, .section-map-content a:visited {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.section-map-content a:hover {
	border-bottom: 1px solid rgba(0,0,0,1);
}
.section-map-content p {
	margin: .25rem 0;
}

.section--contacts .centered {
	position: relative;
}
.section-contact-form {
	position: absolute;
	min-width: 13rem;
	width: 30%;
	right: 10%;
	top: 3rem;
	z-index: 1;
}
.section-contact-form-title {
	color: white;
}
.section-contact-form-input {
	display: block;
	width: 100%;
	border: 0;
	border-radius: .15rem;
	line-height: 2.4rem;
	margin-bottom: 1rem;
	background: rgba(255,255,255,.05);
	padding-left: .5rem;
}
.section-contact-form-submit {
	margin-top: .75rem;
}


.site-footer {
	padding: 2rem 0;
	color: white;
	background: #131314;
	text-align: center;
	font-weight: 400;
}

.site-footer a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.25);
}

.site-footer a:hover {
	border-bottom: 1px solid rgba(255,255,255,1);
}


