body {
	font-family: Roboto, sans-serif;
	line-height: 1.4;
	font-weight: 200;
	color: gray;
}

@media (max-width: 960px) {
	:root {
		font-size: 14px;
	}
}

body, .smooth-container { scroll-behavior: smooth }

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: rgb(85, 77, 153);
	border-bottom: 1px solid rgba(85, 77, 153, .15);
}
a:hover, a:active {
	border-bottom: 1px solid rgb(85, 77, 153);
}

h1,h2,h3,h4,h5,h6 {
	margin: 1.6rem 0 1.2rem;
	font-weight: 200;
	color: black;
	line-height: 1.13;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {
	font-size: 1.1rem;
}
h6 {
	font-size: 1rem;
}

p {
	margin: .8rem 0;
}

.button {
	border-radius: 4rem;
	box-sizing: border-box;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 1rem 2rem;
	min-width: 5rem;
	font-family: "Open Sans",sans-serif;
	font-weight: 700;
	color: rgb(0, 164, 220);
	font-size: .875rem;
	line-height: 1.6;
	letter-spacing: .15ex;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgb(0, 164, 220);
	cursor: pointer;
	text-decoration: none;
}
.button--outline {
	border-color: rgb(255, 255, 255);
	color: white;
}
.button--white {
	background: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	color: rgb(57, 160, 220);
}
.button:hover, .button:active {
	background: rgb(0, 164, 220);
	border-color: rgb(0, 164, 220);
	color: rgb(255, 255, 255);
}

.button-junction {
	padding: 1rem .75rem;
	display: inline-block;
}


.centered {
	max-width: 960px;
	margin: auto;
}

@media (max-width: 960px) {
	.button {
		padding: 1rem 1.5rem;
	}
	.mobile-hidden {
		display: none!important;
	}
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes slidein {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0); }
}
@-moz-keyframes slidein {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0); }
}
@-webkit-keyframes slidein {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0); }
}
@-ms-keyframes slidein {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0); }
}
@-o-keyframes slidein {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0); }
}

@keyframes zoomout {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}
@-moz-keyframes zoomout {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}
@-webkit-keyframes zoomout {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}
@-ms-keyframes zoomout {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}
@-o-keyframes zoomout {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}





.site-header {
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}
.site-header .centered {
	position: relative;
	height: 4.8rem;
	box-shadow:0 1px 0 rgba(255,255,255,.15);
}
.site-logo {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 200;
	line-height: 4.8rem;
	outline: none;
	border: none;
}
.site-logo:hover {
	border: none;
}
.site-logo strong {
	font-weight: 900;
}
@media (max-width: 960px) {
	.site-header .centered {
		height: 8rem;
	}
	.site-logo {
		right: 0;
		text-align: center;
		margin: 0 auto;
	}
}
.site-nav {
	position: absolute;
	right: 0;
	color: white;
	line-height: 4.8rem;
}
.site-nav-link {
	color: white;
	font-weight: 200;
	margin-left: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .82rem;
	letter-spacing: .15ex;
	line-height: 1.4;
	margin-top: 1.8rem;
	display: inline-block;
	vertical-align: top;
	transition: .15s ease-out;
	opacity: .82;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
.site-nav-link:hover, .site-nav-link:active {
	opacity: 1;
	border-bottom: 1px solid rgba(255,255,255,1);
}
@media (max-width: 960px) {
	.site-nav {
		white-space: nowrap;
		top: 5.2rem;
		left: 0;
		right: 0;
		text-align: center;
	}
	.site-nav-link {
		line-height: 1.4;
		border-bottom: 1px solid rgba(255,255,255,.15);
		margin: 0 .33rem;
	}
}




.section {
	padding: 4.8rem 0;
	clear: both;
	max-width: 100vw;
}
@media (max-width: 960px) {
	.section {
		padding: 3.2rem 1.2rem;
	}
}
.section--gray {
	background: #fafafa;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.section-header {
	text-align: center;
	max-width: 50rem;
	margin: auto;
}
.section-header .section-header-icon {
	font-size: 2.4rem;
	margin-bottom: 1.2rem;
	opacity: .8;
}
.section-title {
	font-size: 2.4rem;
	line-height: 1.13;
	font-weight: 200;
	margin-bottom: 1.2rem;
}
.section-subtitle {
	color: gray;
	font-weight: 200;
	font-size: 1.13rem;
	margin-bottom: 1.6rem;
}

.section-dash {
	width: 3rem;
	height: 3px;
	background: rgb(240,240,240);
	border: none;
	margin: 1rem auto 2rem;
}

.section-body {
	text-align: center;
}

.section-footer {
	text-align: center;
}


.section--intro {
	height: 82vh;
	min-height: 32rem;
	position: relative;
	padding: 0;
}



.section-intro-slider {
	height: 100%;
}
.section-intro-slide {
	padding: 4.8rem 0;
	z-index: 1;
}
.section-intro-slide:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	-webkit-animation: zoomout 3s;
	-moz-animation: zoomout 3s;
	-ms-animation: zoomout 3s;
	-o-animation: zoomout 3s;
	animation: zoomout 3s;
}
.section-intro-slide-1:before {
	background-image: url(./intro-1.jpg);
}
.section-intro-slide-2:before {
	background-image: url(./intro-3.jpg);
}
.section-intro-slide-3:before {
	background-image: url(./intro-2.jpg);
}
.section-intro-slide:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(66.6deg, rgba(0, 164, 220, 1) 0%, rgba(85, 77, 153, 1) 100%);
	opacity: .75;
	z-index: 0;
}
.section-intro-slide-1:after {
	background: linear-gradient(to left, #283048 , #859398);
}
.section-intro-slide-2:after {
	background: linear-gradient(to left, #16222A , #3A6073);
}
.section-intro-slide-3:after {
	background: linear-gradient(to left, #232526 , #414345);
}
.section-intro-slide .centered {
	z-index: 1;
	position: relative;
}

.section-intro-slider-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
@media (max-width: 960px) {
	.section-intro-slider-nav {
		display: none;
	}
}
.section-intro-slider-nav .centered {
	position: relative;
	height: 100%;
	width: 100%;
}
.section-intro-slider-nav .swiper-pagination {
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
.section-intro-slider-nav .swiper-pagination-bullet {
	margin-right: .5rem;
}

.section-intro-header {
	margin-top: 4.8rem;
	max-width: 50%;

	-webkit-animation: fadein 2s, slidein 1.5s;
	-moz-animation: fadein 2s, slidein 1.5s;
	-ms-animation: fadein 2s, slidein 1.5s;
	-o-animation: fadein 2s, slidein 1.5s;
	animation: fadein 2s, slidein 1.5s;
}
.section-intro-title {
	font-size: 2.6rem;
	margin-bottom: .8rem;
}
.section-intro-header .section-header-icon {
	font-size: 3.6rem;
	opacity: 1;
}
.section-intro-subtitle {
	font-size: 1.13rem;
	font-weight: 200;
	margin: 0 auto;
}
.section-intro-body {
	margin-top: 2.4rem;
	text-align: center;

	-webkit-animation: fadein 2s, slidein 1.5s;
	-moz-animation: fadein 2s, slidein 1.5s;
	-ms-animation: fadein 2s, slidein 1.5s;
	-o-animation: fadein 2s, slidein 1.5s;
	animation: fadein 2s, slidein 1.5s;

	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.section-intro-body .button {
	font-size: 1.13rem;
	line-height: 2rem;
	border-radius: 4rem;
}
.section-intro-junction {
	padding: 1.4rem .6rem;
	display: inline-block;
}
.section-intro-header a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.section-intro-header a:hover, .section-intro-header a:active {
	border-bottom-color: rgba(255, 255, 255, 1);
}

@media (max-width: 960px) {
	.section-intro-header {
		margin-top: 6rem;
		max-width: none;
		padding: 0 2rem;
	}
	.section-intro-title {
		font-size: 1.6rem;
	}
	.section-intro-subtitle {
		max-width: none;
	}
	.section-intro-body .button {
		font-size: 1rem;
		line-height: 1;
		border-radius: 4rem;
	}
	.section-intro-junction {
		display: block;
		padding: .2rem 0 .4rem;
	}
	.section-intro-body {
		margin-top: 1.6rem;
	}
}



.section-services {
	padding: 0;
	white-space: nowrap;
}
.section-service {
	white-space: normal;
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: .8rem 1rem 0;
}

.section-service > i {
	font-size: 3.2rem;
	line-height: 6.4rem;
	display: inline-block;
	color: #00A4DC;
}
.section-service p {
	color: gray;
}
.section-service h4 {
	margin-top: .8rem;
	margin-bottom: 1.2rem;
	color: rgb(0, 164, 220);
}


@media (max-width: 960px) {
	.section-services {
		white-space: normal;
	}
	.section-service {
		width: 100%;
	}
}



.section--gallery {
	width: 100%;
	height: 16rem;
	padding: 0;
}
.section-gallery {
}
.section-gallery-item {
	overflow: hidden;
	width: auto!important;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.section-gallery-item-image {
	display: block;
	height: 16rem;
}


.section--inverse {
    color: white;
}
.section--inverse .section-title {
	color: white;
}
.section--inverse .section-subtitle {
	color: white;
}

.section--features .section-body {
}
.section-features {
	list-style: none;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.section-feature {
	margin: 0 0 3.6rem;
}
.section-features-image {
	display: inline-block;
	vertical-align: bottom;
	max-width: 30%;
}
.section-features--left {
	text-align: right;
	width: 35%;
	padding-right: 3rem;
}
.section-features--right {
	text-align: left;
	width: 35%;
	padding-left: 3rem;
}
.section-feature > i {
	font-size: 2.8rem;
	line-height: 4.8rem;
	color: #554D99;
}
.section-feature-title {
	color: #554D99;
	font-size: 1.3rem;
	font-weight: 200;
}

@media (max-width: 960px) {
	.section-features {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.section-features-image {
		display: none;
	}
}



.section--cta {
	padding-top: 6rem;
	padding-bottom: 6rem;
    background-image: linear-gradient(to right, rgb(0, 164, 220) 0%, rgb(85, 77, 153) 100%);
}
@media (max-width: 960px) {
	.section--cta .button-junction {
		display: block;
	}
}

.section--info {
    background-image: linear-gradient(to right, #237794 0%, #8b87ac 100%);
    text-align: center;
    font-size: 1.3rem;
}


.section-testimonials {
	margin-top: 2.4rem;
}
.section-testimonial {
	text-align: center;
	max-width: 60%;
	margin: 0 2.4rem 4.8rem;
}
.section-testimonial-text {
	font-size: 1.13rem;
}
.section-testimonial-author {
	text-align: left;
	display: inline-block;
	margin-top: 2.4rem;
	min-width: 13rem;
}
.section-testimonial-link {
	text-decoration: none;
}
.section-testimonial-image {
	height: 4rem;
	overflow: hidden;
	border-radius: 4rem;
	float: left;
	margin-right: 1rem;
}
.section-testimonial-name {
	font-weight: 900;
	margin-top: .2rem;
	font-size: .82rem;
	color: #554D99;
	text-transform: uppercase;
	letter-spacing: .15ex;
}
.section-testimonial-bio {
	font-size: .88rem;
	color: gray;
}

.section-testimonial {
	opacity: .15;
}
.section-testimonial.swiper-slide-active {
	opacity: 1;
}
.section-testimonials {
	min-height: 13rem;
}
.section--testimonials .swiper-container {
	overflow: visible;
}
.section--testimonials {
	overflow: hidden;
}


.section-articles {
	margin-top: 3.2rem;
}

.section-article {
	display: inline-block;
	width: 33.3%;
	vertical-align: top;
	padding: 0 1rem 3.2rem;
}

@media (max-width: 960px) {
	.section-article {
		width: 100%;
	}
}

.section-article-link {
	text-decoration: none;
}
.section-article-figure {
	overflow: hidden;
	width: 100%;
	margin: 0;
	height: 16rem;
}
.section-article-image {
	display: block;
	min-height: 100%;
	min-width: 100%;
	transition: .5s ease-out transform;
	transform: scale(1);
}
.section-article-link:hover .section-article-image {
	transform: scale(1.05);
}

.section-article-title {
	margin: 1.2rem 1rem .6rem;
}

.section-article-date {
	display: block;
	margin: .6rem 1rem;
	text-transform: uppercase;
	font-size: .95rem;
}

.section-article-excerpt {
	margin: 1.2rem 1rem .6rem;
}



.section--contacts {
	padding: 0;
	height: 82vh;
	min-height: 32rem;
	position: relative;
}
.section-map {
	width: 100%;
	height: 100%;
}
.section-map-title {
	font-weight: 200;
	margin: .5rem 0;
}
.section-map-title strong {
	font-weight: 900;
}
.section-map-subtitle {
	font-weight: 900;
	font-size: 1rem;
	margin: .75rem 0 0;
}
.section-map-address {
	font-style: normal;
}
.section-map-content a, .section-map-content a:visited {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.section-map-content a:hover {
	border-bottom: 1px solid rgba(0,0,0,1);
}
.section-map-content p {
	margin: .25rem 0;
}

.section--contacts .centered {
	position: relative;
}
.section-contact-form {
	position: absolute;
	min-width: 20rem;
	width: 30%;
	right: 10%;
	top: 3rem;
	z-index: 1;
}

@media (max-width: 960px) {
	.section-contact-form {
		display: none;
	}
}


.section-contact-form-title {
	color: white;
}
.section-contact-form-input {
	display: block;
	width: 100%;
	border: 0;
	border-radius: .15rem;
	line-height: 2.4rem;
	margin-bottom: 1rem;
	background: rgba(255,255,255,.05);
	padding-left: .5rem;
	color: white;
}
.section-contact-form-submit {
	margin-top: .75rem;
}


.site-footer {
	padding: 2rem 0;
	color: white;
	background: #131314;
	text-align: center;
	font-weight: 400;
}

.site-footer a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.25);
}

.site-footer a:hover {
	border-bottom: 1px solid rgba(255,255,255,1);
}


@media (max-width: 960px) {
	.site-footer {
		padding: 2rem 1rem;
	}
}




.page-article .site-header {
	position: relative;
	background: #131314;
}

.post {
	padding: 3.6rem 0;
}

.breadcrumb-sep {
	margin: 0 .4rem;
}
