<!doctype html>
{% assign lang=page.lang | default: 'ru' %}
<html lang="{{ lang }}">

	{% include head.html %}

	<body>
		{% include header.html %}

		<main class="site-content">
			{{ content }}
		</main>

		{% include footer.html %}

		<!-- footer includes -->
		<link rel="stylesheet" href="{{ "/assets/font-awesome.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
		<script type="text/javascript">
			//init testimonials slider
			var mySwiper = new Swiper ('.swiper-container', {
				direction: 'horizontal',
				loop: true,

				// If we need pagination
				pagination: '.swiper-pagination',

				// Navigation arrows
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',

				effect: 'coverflow',
				grabCursor: true,
				centeredSlides: true,
				slidesPerView: 'auto',
				coverflow: {
					rotate: 10,
					stretch: 0,
					depth: 0,
					modifier: 0,
					slideShadows: false
				}
			})
		</script>
	</body>
</html>
