<!doctype html>
{% assign lang=page.lang | default: 'ru' %}
<html lang="{{ lang }}">

	{% include head.html %}

	<body>
		{% include header.html %}

		<main class="site-content">
			{{ content }}
		</main>

		{% include footer.html %}

		<!-- footer includes -->
		<link rel="stylesheet" href="{{ "/assets/font-awesome.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ "/assets/swiper.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ '/assets/aos.css' | prepend: site.baseurl }}">
		<script src="{{ "/assets/swiper.js" | prepend: site.baseurl }}"></script>
		<script src="{{ '/assets/zenscroll.js' | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/aos.js" | prepend: site.baseurl }}"></script>

		<script type="text/javascript">
			//animate on scroll
			AOS.init({
				easing: 'ease-in-out-sine',
				offset: -200,
				duration: 1000
			});
		</script>
	</body>
</html>
